In [ ]:
from read_table_func import *
from GUI_BASE2_3 import *

In [ ]:
# def read_transactions_table() and filter data
def filter_transaction_data(self):
    import read_table_func
    import GUI_BASE2_3
    import pandas as pd

    df = read_table_func.read_transactions_table()

    # convert start_date_btn and end_date_btn to date
    start_date = GUI_BASE2_3.start_date_btn.date().toPyDate()
    start_date = pd.to_datetime(start_date)
    end_date = GUI_BASE2_3.end_date_btn.date().toPyDate()
    end_date = pd.to_datetime(end_date)

    # filter data by date
    df = df[(df['datetime'] >= start_date) & (df['datetime'] <= end_date)]

    # filter data by branch
    if self.cen_world_btn.isChecked() and self.cen_rama9_btn.isChecked() and self.cen_lad_btn.isChecked():
        df = df[df['branch'].isin(['Central World', 'Central Rama 9', 'Central Ladprao'])]
    elif self.cen_world_btn.isChecked() and self.cen_rama9_btn.isChecked():
        df = df[df['branch'].isin(['Central World', 'Central Rama 9'])]
    elif self.cen_world_btn.isChecked() and self.cen_lad_btn.isChecked():
        df = df[df['branch'].isin(['Central World', 'Central Ladprao'])]
    elif self.cen_rama9_btn.isChecked() and self.cen_lad_btn.isChecked():
        df = df[df['branch'].isin(['Central Rama 9', 'Central Ladprao'])]
    elif self.cen_world_btn.isChecked():
        df = df[df['branch'] == 'Central World']
    elif self.cen_rama9_btn.isChecked():
        df = df[df['branch'] == 'Central Rama 9']
    elif self.cen_lad_btn.isChecked():
        df = df[df['branch'] == 'Central Ladprao']

    self.table_transaction.setRowCount(len(df))
    self.table_transaction.setColumnCount(len(df.columns))

    for i in range(len(df)):
        for j in range(len(df.columns)):
            self.table_transaction.setItem(
                i, j, QtWidgets.QTableWidgetItem(str(df.iloc[i, j])))
    self.table_transaction.setHorizontalHeaderLabels(df.columns)

In [ ]:
import pandas as pd

In [11]:
from read_table_func import *

In [ ]:
read_branch_table()

In [ ]:
client = MongoClient('localhost', 27017)
db = client.bakery_house

# view data table branches
branches = list(db.branches.find({}, {'_id': False}))

# convert to dataframe
df_branch = pd.DataFrame(branches)
df_branch

In [ ]:
read_bakery_table()

In [13]:
import read_table_func

In [7]:
read_branch_table()

       branch_name  yearly_target
0    Central World      1,000,000
1  Central Ladprao      1,000,000
2   Central Rama 9      1,000,000

In [14]:
read_transactions_table().tail()

,datetime,order_id,branch,product_id,quantity,unit_price,total_price
252919,2022-11-10,95100,Central Rama 9,801,1,42,42
252920,2022-11-10,95101,Central World,501,1,22,22
252921,2022-11-10,95102,Central World,104,2,64,128
252922,2022-11-10,95103,Central World,501,1,22,22
252923,2022-11-10,95104,Central World,602,1,32,32

In [15]:
df = read_transactions_table()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252924 entries, 0 to 252923
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   datetime     252924 non-null  datetime64[ns]
 1   order_id     252924 non-null  object
 2   branch       252924 non-null  object
 3   product_id   252924 non-null  object
 4   quantity     252924 non-null  int64
 5   unit_price   252924 non-null  int64
 6   total_price  252924 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 13.5+ MB

# Test add csv file to mongo

In [22]:
# add csv file to mongodb
import pandas as pd
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client.bakery_house

# read csv file
df = pd.read_csv('test_db_11Nov22_CenRama9.csv')

# convert to json
data = df.to_dict('records')

# insert data to mongodb
db.sales.insert_many(data)

FileNotFoundError: [Errno 2] No such file or directory: 'test_db_11Nov22_CenRama9.csv'

In [ ]:
# view data table sales
sales = list(db.sales.find({}, {'_id': False}))

# convert to dataframe
df_sales = pd.DataFrame(sales)
df_sales

In [16]:
# fuction add csv file to mongodb if can not add to mongodb print error
def add_csv_to_mongodb(csv_file):
    import pandas as pd
    from pymongo import MongoClient

    client = MongoClient('localhost', 27017)
    db = client.bakery_house

    try:
        # read csv file
        df = pd.read_csv(csv_file)

        # convert to json
        data = df.to_dict('records')

        # insert data to mongodb
        db.sales.insert_many(data)
        print('Add csv file to mongodb successfully')
    except:
        print('Error: can not add csv file to mongodb')

In [20]:
filee = 'test_db_11Nov22_CenRama9.csv'

In [21]:
add_csv_to_mongodb(filee)

Error: can not add csv file to mongodb

In [39]:
from browse_file_func import *

df = browse_csv()
df

,datetime,order_id,branch,product_id,quantity,unit_price,total_price
0,11-11-22,95105,Central Rama 9,104,2,64,128
1,11-11-22,95106,Central Rama 9,501,1,22,22
2,11-11-22,95107,Central Rama 9,602,1,32,32

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     3 non-null      object
 1   order_id     3 non-null      int64
 2   branch       3 non-null      object
 3   product_id   3 non-null      int64
 4   quantity     3 non-null      int64
 5   unit_price   3 non-null      int64
 6   total_price  3 non-null      int64
dtypes: int64(5), object(2)
memory usage: 296.0+ bytes

In [38]:
from browse_file_func import *

In [43]:
import argparse
import pandas as pd


def read_data(fname):
    return pd.read_csv(fname)


if __name__ == "__main__":
    options = argparse.ArgumentParser()
    options.add_argument("-f", "--file", type=str, required=True)
    args = options.parse_args()
    data = read_data(args.file)
    print(data)

usage: ipykernel_launcher.py [-h] -f FILE
ipykernel_launcher.py: error: unrecognized arguments: --ip=127.0.0.1 --stdin=9013 --control=9006 --hb=9005 --Session.signature_scheme="hmac-sha256" --Session.key=b"f851a39f-7f83-4cee-a1b5-2415e6c22cb9" --shell=9007 --transport="tcp" --iopub=9014

SystemExit: 2

In [48]:
from PySide2 import QtCore,QtGui

In [53]:
# browse file using Pyside2 library
def browse_file(self):
    fname = QtWidgets.QFileDialog.getOpenFileName(self, 'Open file', 'c:\\',"CSV files (*.csv)")
    if fname[0]:
        f = open(fname[0], 'r')
        with f:
            data = f.read()
            self.textEdit.setText(data)

In [56]:
browse_file('test_db_11Nov22_CenRama9.csv')

NameError: name 'QtWidgets' is not defined

In [2]:
a = 'rama'

In [10]:
b ='10'
b

'10'

In [11]:
np.array(b, dtype=np.int32)

array(10)

In [3]:
import pandas as pd
import numpy as np

In [9]:
# change b to int32
b = np.int32(b)
b

10

In [1]:
from read_table_func import *

In [2]:
read_branch_table2()

                        _id      branch_name  yearly_target
0  63872702ae0e8b24d23628f7    Central World        1000000
1  63874ae8392aeb528d17d4c5  Central Ladprao        1000000
2  63874af1392aeb528d17d4c7   Central Rama 9        1000000

In [3]:
read_transactions_table()

,datetime,order_id,branch,product_id,quantity,unit_price,total_price
0,2021-01-02,1,Central Rama 9,501,1,22,22
1,2021-01-02,1,Central Rama 9,103,1,56,56
2,2021-01-02,1,Central Rama 9,702,1,28,28
3,2021-01-02,1,Central Rama 9,501,1,22,22
4,2021-01-02,1,Central Rama 9,101,2,64,128
...,...,...,...,...,...,...,...
252931,2022-11-11,95106,Central Rama 9,501,1,22,22
252932,2022-11-11,95107,Central Rama 9,602,1,32,32
252933,2022-11-11,95105,Central Rama 9,104,2,64,128
252934,2022-11-11,95106,Central Rama 9,501,1,22,22
252935,2022-11-11,95107,Central Rama 9,602,1,32,32

In [2]:
from datetime import datetime
import plotly.express as px
import plotly.graph_objects as go
import dash

In [4]:
df = read_transactions_table()
df['datetime'] = pd.to_datetime(df['datetime'])

df_month_branch_sales = df.total_price.groupby([df['datetime'].dt.year, df['datetime'].dt.month, df['branch']]).sum()
df_month_branch_sales.index.names = ['year', 'month', 'branch']
df_month_branch_sales = pd.DataFrame(df_month_branch_sales)
df_month_branch_sales.reset_index(inplace=True)
df_month_branch_sales.columns = ['year', 'month', 'branch', 'sales']
# convert month number to month name
df_month_branch_sales['month'] = df_month_branch_sales['month'].apply(
    lambda x: datetime.strptime(str(x), "%m").strftime("%B"))
df_month_branch_sales

    year     month           branch   sales
0   2021   January  Central Ladprao  158634
1   2021   January   Central Rama 9  174142
2   2021   January    Central World  167836
3   2021  February  Central Ladprao  219040
4   2021  February   Central Rama 9  208756
..   ...       ...              ...     ...
64  2022   October   Central Rama 9  492514
65  2022   October    Central World  490580
66  2022  November  Central Ladprao  226882
67  2022  November   Central Rama 9  215100
68  2022  November    Central World  218050

[69 rows x 4 columns]

In [28]:
df_month_branch_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    69 non-null     int64
 1   month   69 non-null     object
 2   branch  69 non-null     object
 3   sales   69 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.3+ KB

In [10]:
# stack bar chart of monthly sales by branch
fig = go.Figure()

yearr = 2021

fig = px.bar(df_month_branch_sales[df_month_branch_sales.year == yearr], x='month', y='sales', color='branch', barmode='stack', title=f'{yearr} Sales')

# textposition middle inside
fig.update_traces(texttemplate='%{y:.3s}', textposition='inside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed